* {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}

.flex-global-container {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: unset;
}

button {
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-size: 20px;
}

/* ----- HEADER ----- */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #1F2937; */
	background-color: #ffc56e;
	/* color: #F9FAF8; */
	color: #000000;
	padding: 10px 100px 10px 100px;
}

.header-left {
	display: flex;
	align-items: center;
	margin: 10px 10px 10px 0;
	font-size: 24px;
	font-weight: 700;
}

.header-right > ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 10px 0 10px 10px;
}

.header-right > ul > li {
	color: #000000;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 0;
}

/* ----- HERO ----- */

.hero {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 75px 100px;
	background-color: #ffc56e;
	color: #000000;
}

.hero-content {
	display: block;
	padding: 20px 25px 20px 0;
	width: 500px;
}

.hero-content > h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 900;
}

.hero-content > p {
	margin-top: 0.2em;
	font-size: 18px;
	color: #000000;
}

.hero-content > button {
	display: block;
	background-color: #f8682f;
	color: #ffffff;
	font-weight: 600;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
}

.hero-content > button:active {
	background-color: rgb(201, 255, 51);
	color: #1F2937;
}

.hero-image {
	display: block;
	flex-shrink: 1;
	height: 300px;
	max-width: 500px;
	overflow: hidden;
	object-fit: fill;
}

/* -----  CONTENT RANDOM INFO ----- */

.content-random-trivia {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2px 100px;
	margin-top: 10px;
	margin-bottom: 50px;
}

.content-random-trivia-list-container {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	flex: 1;
	justify-content: space-between;
}

.content-random-trivia-list-container > li
{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.content-random-trivia-list-container > li > img {
	border: 3px solid #a4f638;
	border-radius: 10px;
	height: 200px;
	width: 200px;
	margin: 20px;
	object-fit: cover;
}

.content-random-trivia-list-container > li > div {
	align-self: center;
	width: 200px;
}

/* ----- QUOTE ----- */

.content-quote {
	font-size: 36px;
	font-weight: lighter;
	background-color: #fffeae;
	padding: 80px 160px;
}

.quote-source {
	font-size: 24px;
	display: block;
	text-align: right;
	font-weight: 900;
	margin: 10px;
}

/* ----- CALL TO ACTION ----- */

.cta-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #f8682f;
	margin: 80px 100px;
	align-items: center;
	border-radius: 10px;
	color: #ffffff;
}

.cta-container-legend > h3 {
	font-size: 24px;
	margin: 40px 0 0 20px;
}

.cta-container-legend > p {
	margin: 0 0 40px 20px;
}

.cta-container > button {
	font-size: 20px;
	margin: 20px;
	padding: 10px 30px;
	background-color: #f8682f;
	border: 2px #F9FAF8 solid;
	color: #ffffff;
	border-radius: 8px;
	font-weight: bold;
	font-size: 20px;
}

.cta-container > button:active {
	background-color: rgb(201, 255, 51);
	color: #1F2937;
}

/* ----- FOOTER ----- */

.footer {
	display: flex;
	justify-content: center;
	margin-top: auto;
	background-color: #ffc56e;
	color: #000000;
	padding: 30px 0;
	font-size: 0.8em;
}